<div layout="column">
    <wa-breadcrump title-name="$ctrl.titleName" back-name="$ctrl.backName" back-action="$ctrl.backAction()"></wa-breadcrump>
    <md-content layout-padding>
        <ng-map zoom="15" center="{{$ctrl.place.address}}" disable-default-u-i="true"></ng-map>
        <form name="loginForm">
            <md-input-container class="md-block">
                <input type="text" name="name" placeholder="Name" ng-model="$ctrl.place.name" required>
            </md-input-container>
            <md-input-container class="md-block">
                <input type="text" name="address" placeholder="Address" ng-model="$ctrl.place.address" required>
            </md-input-container>
            <md-input-container class="md-block">
                <md-button class="md-raised md-accent" ng-click="$ctrl.editPlace()">Edit !</md-button>
            </md-input-container>
        </form>
    </md-content>
</div>
