<div layout="column">
    <wa-breadcrump title-name="$ctrl.titleName" back-name="$ctrl.backName" back-action="$ctrl.backAction()"></wa-breadcrump>

    <div layout="row">
        <md-content flex layout="row" layout-wrap>
            <md-card ng-repeat="place in $ctrl.places" style="width:400px;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{place.name}}</span>
                        <span class="md-subhead">{{place.address}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="column">
                    <div class="card-media">
                        <ng-map zoom="15" center="{{place.address}}" disable-default-u-i="true" style="height: 200px;"></ng-map>
                    </div>
                    <md-slider-container layout="row" layout-align="center center">
                        <i class="material-icons md-24">event_seat</i>
                        <span layout-padding>Remaining seats:
                            {{place.availableCapacity}}/{{place.maxCapacity}}</span>
                        <md-slider flex ng-model="place.availableCapacity" step="1" min="0" max="{{place.maxCapacity}}" md-discrete ng-disabled="true" ng-readonly="true" aria-label="capacity"></md-slider>
                    </md-slider-container>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end">
                    <md-button class="md-icon-button">
                        <md-tooltip md-direction="top">
                            Edit the place
                        </md-tooltip>
                        <i class="material-icons md-24">edit</i>
                    </md-button>
                    <md-button class="md-icon-button">
                        <md-tooltip md-direction="top">
                            Delete the place
                        </md-tooltip>
                        <i class="material-icons md-24">delete</i>
                    </md-button>
                </md-card-actions>
            </md-card>
        </md-content>
        <md-button class="md-fab wa-icon-button" ng-click="$ctrl.goToPlacesCreate()">
            <md-tooltip md-direction="left">
                Add new place
            </md-tooltip>
            <i class="material-icons md-24">add</i>
        </md-button>
    </div>
</div>
