<div layout="column">
    <wa-breadcrump title-name="$ctrl.titleName" back-name="$ctrl.backName" back-action="$ctrl.backAction()"></wa-breadcrump>

    <div layout="row">
        <md-content flex layout="row" layout-wrap>
            <md-card ng-repeat="place in $ctrl.places" style="width:400px;height: 400px;">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{place.name}}</span>
                        <span class="md-subhead">{{place.address}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <div class="card-media">
                        <ng-map zoom="15" center="{{place.address}}" style="height: 200px;"></ng-map>
                    </div>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end">
                  <md-button class="md-icon-button">
                      <md-tooltip md-direction="bottom">
                          Delete the place
                      </md-tooltip>
                      <i class="material-icons md-24">delete</i>
                  </md-button>
                </md-card-actions>
            </md-card>
        </md-content>
        <md-button class="md-fab wa-icon-button" ng-click="$ctrl.goToPlacesCreate()">
            <md-tooltip md-direction="left">
                Add new place
            </md-tooltip>
            <i class="material-icons md-24">add</i>
        </md-button>
    </div>
</div>
