<div layout="column">
    <wa-breadcrump title-name="$ctrl.titleName"></wa-breadcrump>
    <md-content flex layout-padding>
        <md-button class="md-raised wa-icon-text-button" ng-click="$ctrl.goToSessions()">
            <i class="material-icons md-24">chat</i>
            <span>Manage sessions</span>
        </md-button>
        <md-button class="md-raised wa-icon-text-button" ng-disabled="true">
            <i class="material-icons md-24">person</i>
            <span>Manage users</span>
        </md-button>
        <md-button class="md-raised wa-icon-text-button" ng-click="$ctrl.goToPlaces()">
            <i class="material-icons md-24">place</i>
            <span>Manage places</span>
        </md-button>
        <md-button class="md-raised wa-icon-text-button" ng-disabled="true">
            <i class="material-icons md-24">event</i>
            <span>Manage the event</span>
        </md-button>
    </md-content>
    <!--<md-fab-speed-dial md-direction="down" class="md-scale" md-open="fabOpen" ng-mouseenter="fabOpen=true" ng-mouseleave="fabOpen=false">
            <md-fab-trigger>
                <md-button aria-label="menu" class="md-fab wa-icon-button">
                    <i class="material-icons md-24">add</i>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="add session" class="md-fab md-raised md-mini wa-icon-button" ng-click="$ctrl.goToSessionsCreate()">
                    <md-tooltip md-direction="left">
                        Add a new session
                    </md-tooltip>
                    <i class="material-icons md-24">chat</i>
                </md-button>
                <md-button aria-label="add place" class="md-fab md-raised md-mini wa-icon-button" ng-click="$ctrl.goToPlacesCreate()">
                    <md-tooltip md-direction="left">
                        Add a new place
                    </md-tooltip>
                    <i class="material-icons md-24">place</i>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>-->
</div>
