$sidebarBackground: rgb(96,125,139);
wa-sidebar {
    background-color: $sidebarBackground;
    md-sidenav {
        background-color: inherit;
        md-content {
            background-color: inherit;
            button {
                margin: 0 !important;
                background-color: rgba(0, 0, 0, 0.1) !important;
                height: 48px !important;
                color: white !important;
                font-size: 15px !important;
            }
        }
        .separator {
            height: 20px;
        }
    }
    md-sidenav,
    md-sidenav.md-closed.md-locked-open-add-active,
    md-sidenav.md-locked-open {
        min-width: 250px !important;
        width: 250px !important;
        max-width: 250px !important;
    }
}
