<md-sidenav class="site-sidenav md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar md-whiteframe="1">
        <div class="md-toolbar-tools">
            <a href="" ng-click="$ctrl.goHome()">
                <h2>IFAC 2017</h2>
            </a>
        </div>
    </md-toolbar>
    <md-content layout="column">
        <md-button ng-click="$ctrl.goHome()" class="md-raised">Planner</md-button>
        <md-button ng-click="$ctrl.goDiscover()" class="md-raised">Discover</md-button>
        <span class="separator"></span>
        <md-button ng-if="$ctrl.currentUser.isLogged && $ctrl.currentUser.isAdmin()" ng-click="$ctrl.openAdmin()" class="md-raised">ADMIN ZONE</md-button>
        <md-button ng-if="!$ctrl.currentUser.isLogged" ng-click="$ctrl.login()" class="md-raised">Login</md-button>
        <md-button ng-if="$ctrl.currentUser.isLogged" ng-click="$ctrl.goProfile()" class="md-raised">Profile</md-button>
        <span ng-if="$ctrl.currentUser.isLogged" class="separator"></span>
        <md-button ng-if="$ctrl.currentUser.isLogged" ng-click="$ctrl.logout()" class="md-raised">Logout</md-button>
    </md-content>
</md-sidenav>
