<md-sidenav flex class="site-sidenav md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
    <md-toolbar md-whiteframe="1">
        <div class="md-toolbar-tools" layout="row">
            <img ng-src="{{$ctrl.event.image}}" width="50" height="50">
            <a href="" ng-click="$ctrl.goHome()">
                <h2>{{$ctrl.event.name}}</h2>
            </a>
        </div>
    </md-toolbar>
    <md-content flex layout="column">
        <md-button ng-click="$ctrl.goHome()" class="md-raised">Planner</md-button>
        <md-button ng-click="$ctrl.goDiscover()" class="md-raised">Discover</md-button>
        <span class="separator"></span>
        <md-button ng-if="$ctrl.currentUser.isLogged && $ctrl.currentUser.isAdmin()" ng-click="$ctrl.openAdmin()" class="md-raised">ADMIN ZONE</md-button>
        <md-button ng-if="!$ctrl.currentUser.isLogged" ng-click="$ctrl.login()" class="md-raised">Login</md-button>
        <md-button ng-if="$ctrl.currentUser.isLogged" ng-click="$ctrl.goProfile()" class="md-raised">Profile</md-button>
        <span ng-if="$ctrl.currentUser.isLogged" class="separator"></span>
        <md-button ng-if="$ctrl.currentUser.isLogged" ng-click="$ctrl.logout()" class="md-raised">Logout</md-button>
        <span flex></span>
        <div layout="row">
            <span flex></span>
            <span class="footer-love">
                <a href="https://github.com/ifac2017/webapp">
                    <md-icon class="md-18">code</md-icon>
                    with
                    <md-icon class="md-18">favorite</md-icon>
                </a>
            </span>
            <span flex></span>
        </div>
        <div layout="row">
            <span flex></span>
            <span class="footer md-body-1">
                INSA Toulouse - 2016
            </span>
            <span flex></span>
        </div>
    </md-content>
</md-sidenav>
