<div layout="column">
  <wa-breadcrump title-name="$ctrl.titleName"></wa-breadcrump>
  <md-content class="md-padding" flex>
    <div layout-gt-xs="row">
      <md-input-container flex="80">
          <label>Search</label>
          <input md-maxlength="15" ng-model="$ctrl.search">
      </md-input-container>
      <md-input-container flex>
         <label>Order By</label>
         <md-select ng-model="$ctrl.order">
           <md-option value="date"> Date </md-option>
           <md-option value="name"> Name </md-option>
           <md-option value="placeId"> Place </md-option>
         </md-select>
       </md-input-container>
    </div>
    <wa-session-card session="session" ng-repeat="session in $ctrl.sessions | filter:$ctrl.search | orderBy:$ctrl.order" conference-clicked="$ctrl.goToConference"></wa-session-card>
  </md-content>
</div>
