/******************************/
/** define globals variables **/
/******************************/
$info: #3498db;
$error: #e74c3c;
$success: #2ecc71;
$warn: #e67e22;

$sidebarWidth: 220px;
$breadcrumpHeight: 65px;
$topbarHeight: 55px;

/***********/
/** Icons **/
/***********/
body {
    overflow: hidden;
}
/***************************************/
/** hide page until Angular is loaded **/
/***************************************/
.ng-cloak,
.x-ng-cloak,
[data-ng-cloak],
[ng-cloak],
[ng\:cloak],
[x-ng-cloak] {
    display: none !important;
}
/******************/
/** toast themes **/
/******************/
md-toast.md-success-toast-theme {
    .md-toast-content {
        background-color: $success;
    }
}
md-toast.md-error-toast-theme {
    .md-toast-content {
        background-color: $error;
    }
}
md-toast.md-info-toast-theme {
    .md-toast-content {
        background-color: $info;
    }
}
md-toast.md-warn-toast-theme {
    .md-toast-content {
        background-color: $warn;
    }
}
/*************/
/** Toolbar **/
/*************/
md-toolbar h3 {
    margin: auto;
    font-weight: 500;
}
md-toolbar a h3 {
    font-size: 36px;
}
md-toolbar {
  min-height: $topbarHeight;
  height: $topbarHeight;
  max-height: $topbarHeight;
}
/***********/
/** Icons **/
/***********/
/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-32 {
    font-size: 32px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}
.material-icons.md-72 {
    font-size: 72px;
}
/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}
/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}
/* Rules for FAB button with icon */
.wa-icon-button {
    padding: 8px;
}
.wa-icon-text-button {
    .material-icons {
        position: relative;
        top: 7px;
    }
}
@mixin vertical-align {
    top: 50%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}
md-input-container.md-icon-float > md-icon {
    @include vertical-align();
    color: rgba(0,0,0,0.54);
}

/*************/
/** SLIDERS **/
/*************/
/* Rules to remove dots in discrete slider */
.md-track-ticks canvas {
    display: none;
}


@media print {
  wa-sidebar,
  wa-topbar,
  .md-fab,
  .noprint,
  md-divider{
    display: none !important;
  }
}
@import "components/breadcrump/breadcrump";
@import "components/planner/plannerConference/plannerConference";
@import "components/planner/plannerSession/plannerSession";
@import "components/planner/plannerCalendar/plannerCalendar";
@import "components/planner/plannerCalendar/calendarSessionCard/calendarSessionCard";
@import "components/sidebar/sidebar";
@import "components/admin/adminPlaces/adminPlacesCard/adminPlacesCard";
@import "components/admin/adminSessions/adminSessionsCard/adminSessionsCard";
@import "components/sessionsSearch/sessionCard/sessionListConferenceCard/sessionListConferenceCard";
@import "components/sessionsSearch/sessionSearch";
@import "components/sessionsSearch/sessionCard/sessionCard";
@import "components/profile/profile";
