<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{$ctrl.place.name}}</span>
            <span class="md-subhead">{{$ctrl.place.address}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content layout="column">
        <div class="card-media">
            <ng-map zoom="15" center="{{$ctrl.place.address}}" disable-default-u-i="true"></ng-map>
        </div>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end">
        <md-button class="md-icon-button" ng-click="$ctrl.onEdit()">
            <md-tooltip md-direction="top">
                Edit the place
            </md-tooltip>
            <i class="material-icons md-24">edit</i>
        </md-button>
        <md-button class="md-icon-button" ng-click="$ctrl.removePlace()">
            <md-tooltip md-direction="top">
                Delete the place
            </md-tooltip>
            <i class="material-icons md-24">delete</i>
        </md-button>
    </md-card-actions>
</md-card>
