<div layout="column">
    <wa-breadcrump title-name="$ctrl.titleName"></wa-breadcrump>
    <div flex class="tabs-wrapper">
      <div layout="column">
        <md-tabs md-selected="$ctrl.selectedIndex" class="full-size" md-stretch-tabs="always">
            <md-tab flex label="{{day | amDateFormat:'dddd, MMMM D'}}" ng-id="$index" ng-repeat="day in $ctrl.days" md-on-select="$ctrl.selectDay($index)">
                <md-content>
                    <div layout="row">
                        <div flex ng-repeat="timeslot in $ctrl.timeslots | orderBy:'start_time'" layout="column">
                            <h4>{{timeslot.start_time | amDateFormat:'HH:mm'}}
                                -
                                {{timeslot.end_time | amDateFormat:'HH:mm'}}</h4>
                            <md-divider></md-divider>
                            <wa-calendar-session-card ng-repeat="session in $ctrl.sessions | filter:{ start_time: timeslot.start_time.getTime()}:true" session="session" session-clicked="$ctrl.showSession"></wa-calendar-session-card>
                        </div>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
      </div>
    </div>
</div>
