<div layout-gt-xs="row">
  <md-list-item flex class="md-3-line" ng-click="$ctrl.conferenceClicked()">
      <md-icon ng-if="true | isMobile: false" class="material-icons">chat</md-icon>
      <div flex class="md-list-item-text" layout="column">
          <p ng-if="false | isMobile: true" class="md-headline">{{ $ctrl.conference.name }}</p>
          <h3 ng-if="true | isMobile: false">{{ $ctrl.conference.name }}</h3>
          <p>Schedule :
              {{ $ctrl.conference.start_time | amDateFormat:'HH:mm'}}
              -
              {{$ctrl.conference.end_time | amDateFormat:'HH:mm'}}</p>
          <md-chips ng-model="$ctrl.conference.speakers" name="speaker" readonly="true" md-max-chips="5">
              <md-chip-template>
                  <span class="md-body-2">{{$chip.name}}</span>
                  <span class="md-body-1">{{$chip.institution}}</span>
              </md-chip-template>
          </md-chips>
      </div>
  </md-list-item>
  <div layout="column">
    <span flex></span>
    <md-button ng-click="$ctrl.saveConf()" class="md-fab" aria-label="Save">
          <md-icon>save</md-icon>
          <md-tooltip>Save</md-tooltip>
    </md-button>
    <span flex></span>
  </div>
</div>
