wa-planner-conference {
    .directions {
        .wa-map {
            width: 68%;
            float: left;
            height: 400px;
            ng-map {
                height: 100%;
            }
        }
    }
    .directions-mobile {
      position: relative;
      top: 50px;
        .wa-map {
            height: 400px;
            ng-map {
                height: 100%;
            }
        }
    }
}
