<div flex layout="column">
    <wa-breadcrump title-name="$ctrl.titleName" back-name="$ctrl.backName" back-action="$ctrl.backAction()" text-action="$ctrl.textAction" icon-action="$ctrl.iconAction" action="$ctrl.action()"></wa-breadcrump>
    <md-content flex layout-padding layout="column">
        <div class="directions">
            <div class="wa-map">
                <ng-map zoom="15" center="current-location" disable-default-u-i="true">
                    <directions draggable="true" panel="directions-panel" travel-mode="WALKING" origin="current-location" destination="{{$ctrl.place.address}}"></directions>
                </ng-map>
            </div>
            <div id="directions-panel" style="width: 30%;float: right;height: 400px;overflow: scroll;"></div>
        </div>
        <md-divider></md-divider>
        <div layout="column" flex>
            <div layout="row">
                <span class="md-subhead">
                    <md-icon class="material-icons md-24">access_time</md-icon>
                    From
                    {{$ctrl.start_time | amDateFormat:'HH:mm'}}
                    until
                    {{$ctrl.end_time | amDateFormat:'HH:mm'}}</span>
                <span flex></span>
                <span class="md-subhead">
                    <md-icon class="material-icons md-24">place</md-icon>{{$ctrl.place.name}}
                    -
                    {{$ctrl.session.room}}</span>
            </div>
            <span layout-padding></span>
            <span layout-padding></span>
            <div layout-wrap>
                <span class="md-body-2">Speakers:
                </span>
                <span ng-repeat="speaker in $ctrl.conference.speakers">
                    <span ng-if="!$first">,
                    </span>{{speaker.name}}
                    <span class="md-caption">-
                        {{speaker.institution}}</span>
                </span>
            </div>
            <div layout="column">
              <span layout-padding></span>
                <span class="md-body-2">
                    Abstract:
                </span>
                <p>{{$ctrl.conference.abstract}}</p>
                <span layout-padding></span>
                <span layout-padding></span>
            </div>
        </div>
    </md-content>
</div>
