<div flex layout="column">
    <wa-breadcrump title-name="$ctrl.titleName"></wa-breadcrump>
    <div layout-gt-xs="row">
        <md-button ng-click="$ctrl.selectDay($index)" flex class="md-raised" aria-label="date" ng-repeat="day in $ctrl.days" ng-disabled="$ctrl.selectedIndex == $index">{{day | amDateFormat:'dddd, MMMM D'}}</md-button>
    </div>
    <md-content flex layout="column" layout-padding>
        <div layout-gt-xs="row">
            <div flex ng-repeat="timeslot in $ctrl.timeslots" layout="column">
                <h4>{{timeslot.start_time | amDateFormat:'HH:mm'}}
                    -
                    {{timeslot.end_time | amDateFormat:'HH:mm'}}</h4>
                    <md-divider></md-divider>
                    <md-button flex ng-repeat="session in $ctrl.sessions | filter:{ start_time: timeslot.start_time.getTime()}:true">{{session.name}}</md-button>
            </div>
        </div>
    </md-content>
</div>
