wa-profile{
  .md-list-item-text{
    padding : 10px;
    margin-left: 20px;
  }
  md-icon{
    margin : 0px;
    margin-left : 5px;
    margin-right : 5px;
  }
  md-card-content{
    margin-left: 20px;
  }
}
