<div layout="column">
  <wa-breadcrump title-name="$ctrl.titleName"></wa-breadcrump>
  <md-content flex layout="column" layout-padding>
    <md-card ng-repeat="conference in $ctrl.conferences">
        <md-card-title ng-click="$ctrl.goToConference(conference)">
            <md-card-title-media layout-padding>
                <md-icon class="material-icons">question_answer</md-icon>
            </md-card-title-media>
            <md-card-title-text>
                <span class="md-headline">{{ conference.name }}</span>
                <span class="md-subhead"><p>{{ conference.date | amDateFormat:'dddd, MMMM D'}}
                    Schedule :
                    {{ conference.start_time | amDateFormat:'hh:mm'}}
                    -
                    {{conference.end_time | amDateFormat:'hh:mm'}}</p></span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p><i>At :
              {{ $ctrl.getPlaceById(conference.placeId).name}}
              - Room :
              {{conference.room}}
          </i></p>
          <md-chips ng-model="conference.speakers" name="speaker" readonly="true" md-max-chips="5">
              <md-chip-template>
                  <strong>{{$chip.name}}</strong>
                  <em>{{$chip.institution}}</em>
              </md-chip-template>
          </md-chips>
        </md-card-content>
    </md-card>
  </md-content>
</div>
