<div layout="column">
  <wa-breadcrump title-name="$ctrl.titleName"></wa-breadcrump>
  <md-content flex layout="column" layout-padding>
    <md-card ng-repeat="conference in $ctrl.conferences">
        <md-card-title ng-click="$ctrl.goToConference(conference)">
            <md-card-title-media layout-padding>
                <md-icon class="material-icons">question_answer</md-icon>
            </md-card-title-media>
            <md-card-title-text>
                <span class="md-headline">{{ conference.name }}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content layout="column">
          <span>
            <md-icon class="material-icons">room</md-icon>
            <b>
              At :
              {{ $ctrl.getPlaceByConf(conference).name}}
              - Room :
              {{$ctrl.getRoomByConf(conference)}}
            </b>
          </span>
          <span>
            <md-icon class="material-icons">alarm</md-icon>
            {{ conference.date | amDateFormat:'dddd, MMMM D'}}
            Schedule :
            {{ conference.start_time | amDateFormat:'HH:mm'}}
            -
            {{conference.end_time | amDateFormat:'HH:mm'}}
          </span>
          <md-chips ng-model="conference.speakers" name="speaker" readonly="true" md-max-chips="5">
              <md-chip-template>
                  <strong>{{$chip.name}}</strong>
                  <em>{{$chip.institution}}</em>
              </md-chip-template>
          </md-chips>
        </md-card-content>
    </md-card>
  </md-content>
</div>
