wa-session-card {
  md-card{
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  md-card:hover{
    background-color: #F9F9F9;
  }
  md-card-title{
    outline: none;
  }
  .colored {
      width: 5px;
  }
}
