<div flex layout="column">
    <md-card ng-click="$ctrl.selectSession(session)">
        <md-card-title >
            <md-card-title-media layout-padding>
                <md-icon class="material-icons">question_answer</md-icon>
            </md-card-title-media>
            <md-card-title-text>
                <span class="md-headline">{{ $ctrl.session.name }}</span>
                <span class="md-subhead">{{ $ctrl.session.date | amDateFormat:'dddd, MMMM D'}}
                    Schedule :
                    {{ $ctrl.session.start_time | amDateFormat:'hh:mm'}}
                    -
                    {{$ctrl.session.end_time | amDateFormat:'hh:mm'}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-list ng-class="leftPadding" ng-if="$ctrl.sessionActivated == true">
                <wa-session-list-conference-card conference-clicked="$ctrl.conferenceClicked()(conference)" conference="conference" ng-repeat="conference in $ctrl.conferences"></wa-session-list-card>
            </md-list>
        </md-card-content>
    </md-card>
</div>
