<div flex layout="column">
  <md-card ng-click="$ctrl.selectSession(session)">
    <md-card-title >
      <md-card-title-media layout-padding>
        <md-icon class="material-icons">question_answer</md-icon>
      </md-card-title-media>
      <md-card-title-text>
        <span class="md-headline">{{ $ctrl.session.name }}</span>
        <span class="md-subhead">{{ $ctrl.session.date | amDateFormat:'dddd, MMMM D'}} Horaire : {{ $ctrl.session.start_time | amDateFormat:'hh:mm'}} - {{$ctrl.session.end_time | amDateFormat:'hh:mm'}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <wa-session-list conferences="$ctrl.conferences" ng-if="$ctrl.sessionActivated == true"></wa-session-list>
    </md-card-content>
  </md-card>
</div>
